# Dataset — too large for GitHub, download from Kaggle
data/
*.csv

# Saved model weights
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db
